<footer class="text-center text-white mt-4" style="background-color: #607d8b">
  <hr class="text-dark" />
  <div class="container">
    <section class="mb-3 flex">
      <div>Want to contribute?
        <a class="btn-link btn-floating text-white" href="#" role="button" data-mdb-ripple-color="dark"><i
            class="fab fa-github"></i></a>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #e0e0e0">
    Copyright © 2022,
    <a class="text-white" href="https://kazikhalednur.me/">kazikhalednur.me</a>
  </div>
</footer>